main {
  background-color: #eff2f1;
  display: flex;
  flex-direction: column;
  height: 92vh;
  align-items: center;
  justify-content: center;
}

#no-trip {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 15vh;
  border-radius: 10px 10px 0 0;
}

#bottom-top-container{
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
    width: 60vw;
    min-height: 15%;
    flex-direction: column;
    background-color: #fefefe;
}

#cart{
    margin: 50px;
} 

.trips{
    display: flex;
    width: 80%;
    height: 10%;
    padding: 10px 20px;
    background-color: #f5eeee;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.delete{
    background-color: #459e85;
    height: 100%;
    width: 30px;
    border: none;
    border-radius: 3px;
    color: #fefefe;
    cursor: pointer;
}

#bottom-container{
    display: flex;
    color: #fefefe;
    background-color: #00153e;
    height: 10%;
    width: 60vw;
    justify-content: center;
    align-items: center;
    gap: 75%;
    border-radius:0 0 10px 10px ;
}

#purchase{
    background-color: #459e85;
    height: 50%;
    width: 10%;
    border: none;
    border-radius: 3px;
    color: #fefefe;
    cursor: pointer;
}